.number-itens {
  background: #f00;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
}

.img-header {
  justify-content: center;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.nav-link {
  color: blueviolet;
}

.nav-link:hover {
  color: white;
  background-color: rgb(57, 8, 104);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: rgb(57, 8, 104);
}

.nav-item {
  margin-right: 20px;
}
